.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  min-height: 100vh;
  background-color: #292929;
  text-align: center;
  overflow: hidden;
  font-family: var(--font-geist-sans);
}

.content {
  position: relative;
  z-index: 1;
}

.pretitle {
  display: inline;
  font-size: 20px;
  white-space: pre;
  text-align: center;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(89.08deg, #D9A100 0.34%, #E2BB55 51.29%, #FBE09F 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mainHeading {
  background-image: url('../../images/HeroGrid.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 3.8vh;
}

.title1 {
  color: #E7E7E7;
  text-align: left;
  padding-left: 10rem;
  font-size: 6.6vw;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.outerwrapper {
  padding-left: 27rem;
  display: flex;
  flex-direction: row;
}

.title2 {
  display: inline;
  font-size: 6.6vw;
  font-weight: 700;
  background: linear-gradient(92.75deg, #0A57C3 0%, #8CB5F6 36.1%, #FFDDB7 68.81%, #FFBC72 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  white-space: pre;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #E7E7E7;
  text-align: left;
  padding-left: 12rem;
}

.mainHeadingMobile {
  display: none;
}

.title1Mobile, .title3Mobile {
  font-size: 7vh;
  font-family: var(--font-geist-sans);
  color: #E7E7E7;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.title2Mobile, .title4Mobile {
  font-size: 8vh;
  font-family: var(--font-geist-sans);
  background: linear-gradient(92.75deg, #0A57C3 0%, #8CB5F6 36.1%, #FFDDB7 68.81%, #FFBC72 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.subtitleMobile {
  font-size: 2.4vh;
  font-weight: 500;
  color: #E7E7E7;
}

.socials {
  /* background-image: url('../../images/getInTouchBg.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
  flex-direction: row;
  gap: 2vw;

  border-bottom:  1px solid #5A5A5A;
  border-top:  1px solid #5A5A5A;
}

.description {
  font-weight: 400;
  text-align: justify;
  color: #A8A8A8;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6vw;
  flex-basis: 60vw;
  padding-left: 4rem;
  flex-grow: 2;
}

.divider {
  margin-left: 7vw;
  flex-grow: 1;
}

.rightBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.touch {
  text-align: left;
  color: #FAD869;
  font-size: 1.6rem;
  font-weight: 500;
}

.inputContainer {
  margin-top: 1rem;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
}

.input {
  padding: 10px;
  border: none;
  background-color: #292929;
  border: #5A5A5A 1px solid;
  border-radius: 24px 0 0 24px;
  width: 20.5vw;
}

.button {
  padding: 10px 20px;
  background-color: #FAD869;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  color: black;
  margin-left: -16px;
  max-height: 48px;
  min-width: 6.8rem;
}

.rightBodyMobile {
  display: none;
}

.descriptionMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: auto;
  }

  .title1 {
    font-size: 4.6rem;
    text-align: center;
  }

  .mainHeading {
    display: none;
  }

  .mainHeadingMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../images/HeroGrid.svg');
    background-repeat: no-repeat;
    background-position: 0 2vh;
    background-size: 100% auto;
    padding-bottom: 2rem;
  }

  .rightBodyMobile {
    display: flex;
    flex-direction: column;
    background-image: url('../../images/getInTouchMobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .descriptionMobile {
    display: block;
    font-weight: 400;
    text-align: justify;
    align-items: center;
    color: #A8A8A8;
    font-family: "Red Hat Display", sans-serif;
    font-size: 3vh;
    flex-basis: 60vw;
    padding : 0 5vw ;
    padding-top: 2vh;

    max-width: 100vw;

    width: 100%;
  }

  .socials {
    display: none;
  }

  .input {
    width: 60vw;
  }
}
