.starcontainer{
    position: absolute;
    top: 0px;
    left: 0;

    width: 164px;
    height:  28px;
    top: 33px;
    left: 274px;
    padding: 4px 18px 4px 18px;
    gap: 10px;
    border-radius: 100px;
    opacity: 0px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1);
    background: rgba(50, 50, 50, 1);


    
}