@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


.verticalTextBlock {
    width: 7.8125vw;
    height: 56vh;
    display: flex;
    padding-bottom: 3vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 1.875vw;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 #FFFFFF4D;
    background: #292929;
}

.circleButton {
    width: 3.75vw;
    height: 8.2vh;
    padding: 3.135vh 1.43vw 2.65vh 1.21vw;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #5A5A5A;
    box-shadow: 0px 0px 8px 0px #FFFFFF4D;
}

.circleButton:hover
{
    transform: scale(0.98);
}

.verticalText {
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: 'Red Hat Display';
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.646rem;
    text-align: center;
}

