@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


::-webkit-scrollbar {
  width: 0;
}

body {
  background: rgba(41, 41, 41, 1);
  display: flex;
  justify-content: center;
  align-items: center;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
