/* src/components/Home.module.css */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  
  .content {
    position: relative;
    z-index: 1; /* Set higher z-index to ensure text is above the grid */
  }
  
  .title {
    font-size: 4rem;
    margin: 0;
    background: linear-gradient(90deg, #ffffff, #0070f3, #ff4081);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .subtitle {
    font-size: 2rem;
    margin: 20px 0;
    color: #b3b3b3;
  }
  
  .description {
    font-size: 1.5rem;
    max-width: 600px;
  }
  
  .inputContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #fbc02d;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: black;
  }
  